#navbar .logo{
    float:none;
    text-align: center;
}

#navbar ul,#navbar ul li{
    float:none;
    display: flex;
    justify-content: center;
}

/* Home Info */
#home-info{
    height: 550px;
}

#home-info .info-img{
    display: none;
}

#home-info .info-content{
    float: none;
    width: 100%;
}


/* Boxes */

.box{
    float:none;
    width: 100%;
}


/* About */
#about-info .info-right,
#about-info .info-left{
    float:none;
    width: 100%;
}

.l-heading{
    text-align: center;
    line-height: 50px;
}